<section class="section">

    <section class="section__header"></section>
    
    <div class="profile--img">
        <img 
            priority
            [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/img/profile.webp'" 
            alt="avatar logo" 
            fill 
        >
        
    </div>
    
    <div class="status--online"></div>

    <section class="section__body">
        <div>
            <p class="
                font__size--h4 
                font__weight--bold 
                font__color--brand-primary
                ">
                Erick Alcocer
            </p>
            <p class="
                font__size--b1 
                font__weight--medium 
                font__color--tertiary
                ">
                {{ 'about.section-1.ocupation' | translate:translateService.GetLang }}
            </p>
        
        </div>
        
        <div class="section__footer">
            <div class="section__footer--body">
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/erick-alcocer-06ba2b149/" target="_blank">
                        <img 
                            [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-linkedin.svg'" 
                            alt="Linkedin logo" 
                            width="37" 
                            height="37"
                        >
                    </a>
                    
                    <a href="https://github.com/FineYUDU" target="_blank">
                        <img 
                            [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-github.svg'" 
                            alt="Github logo" 
                            width="37" 
                            height="37"
                        >
                    </a>
                    
                    <a href="https://twitter.com/FineYUDU" target="_blank">
                        <img 
                            [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-x.svg'" 
                            alt="x logo" 
                            width="37" 
                            height="37"
                        >
                    </a>
    
                </div> 
                <p class="font__color--secondary font__size--c1 font__weight--regular"> 
                    {{ 'about.section-1.upgrade' | translate:translateService.GetLang }} {{'06/29/2024'}} 
                </p>
            </div>    

            <div class="block--btns">
                <a 
                    href="../../../../../assets/pdf/Erick_Eduardo.pdf" 
                    class="btn"
                    target="_blank">
                    {{ 'button.cv' | translate:translateService.GetLang }}
                    <img 
                        class="icon_sm" 
                        [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-file-download.svg'" 
                        alt="Download file"
                    >

                </a>
    
                <button type="button" class="btn btn--outline" routerLink="../contact">
                    {{ 'button.contact' | translate:translateService.GetLang }}
                    <img 
                        class="icon_sm" 
                        [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-paper-plane.svg'" 
                        alt="Download file"
                    >
            
                </button>

            </div>
        
        </div>

    </section>

</section>
