main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-blocks);
    align-items: center;
    height: calc(100vh - (var(--spacing-sm)*2));
    padding: var(--spacing-sm);
}
nav, footer, section {
    width: 100%;
}
section {
    display: flex;
    flex-direction: column;
}
section p {
    padding-bottom: var(--spacing-blocks);
}
/* ? ROUTER OUTLET CONTAINER */
.ro-cont {
    width: var(--web-width);
}

/* * Responsive SM */
@media screen and (max-width:480px) {
    main {
        height:100%;
    }
}
/* * Responsive MD */
@media screen and (min-width:481px) and (max-width:1024px) {
    main {
        height:100%;
    }
}