main {
    display: grid;
    grid-template-rows: var(--navbar--width) auto auto;
    gap: var(--spacing-blocks);
    padding: var(--spacing-sm);
}
section {
    display: flex;
    justify-content: center;
}
.section__body {
    width: var(--website--width);
    max-width: var(--website--max-width);
}

/* * Responsive SM */
@media screen and (max-width:480px) {
    main {
        height:100%;
        padding: var(--spacing-sm) 0;
    }
}
/* * Responsive MD */
@media screen and (min-width:481px) and (max-width:1024px) {
    main {
        height:100%;
    }
}