main {
    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    gap: var(--spacing-blocks);
}
footer {
    /* margin-top: auto; */
    display: none;
}
/* ? ROUTER OUTLET CONTAINER */
.ro-cont {
    padding: var(--spacing-blocks);
    position: relative;
}
/* ? NAVBAR MENU */
.navbar-menu {
    position: absolute;
    right:var(--spacing-blocks);
    top: var(--spacing-blocks);
}
/* ? FOOTER CONTAINER */
.footer-cont {
    padding: var(--spacing-blocks);
}
/* * Responsive SM */
@media screen and (max-width:480px) {
    main {
        display: flex;
        flex-direction: column;
        height:100%;
    }
    footer {
        display: block;
    }
}
/* * Responsive MD */
@media screen and (min-width:481px) and (max-width:1024px) {
    main {
        display: flex;
        flex-direction: column;
        height:100%;
    }
    footer {
        display: block;
    }
}