/* ? MAIN CONTAINER */
.main-cont {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--fd-color-bg-movile-menu);
    z-index: 2;
    padding:var(--spacing-sm);
    margin:var(--spacing-sm);
    border-radius: var(--radius-minimal);
    width:calc(var(--sidebar--width) - (var(--spacing-sm)*3));
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}
/* ? HEADER */
/* LOGO */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
}
.header img:first-child {
    width: 6rem;
    height: auto;
}
.txt-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}
.menu-list li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xs);
    padding: var(--spacing-xs) var(--spacing-sm);
}
.icon-txt {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}
.li-dropdown {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
}
.chevron {
    transition: transform .3s ease-in-out;
}
/* ? DROPDOWN CONTAINER */
.dropdown-cont {
    display: grid;
    grid-template-rows: var(--rows-dropdown, 0fr);
    transition:all .3s ease-in;
}
.dropdown-cont .dropdown {
    overflow: hidden;
    list-style-type: disc;
    margin-left: var(--spacing-md);
}
.dropdown li {
    position: relative;
}
.line {
    position: absolute;
    width: .1875rem;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--fd-color-line-hierarchy);
    opacity: .2;
}
.line-selected {
    opacity: 1;
}
.lang {
    margin-left: var(--spacing-sm);
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    padding: var(--spacing-xs) var(--spacing-sm);
}
/* MARKER */
.marker {
    background-color: var(--fd-color-primary);
    border-radius: var(--radius-full);
    width: .25rem;
    height: .25rem;
}

/* ! ROTATION CHEVRON */
.rotation {
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
}
/* ! LAN SELECTED */
.lang-selected {
    background-color: var(--fd-color-bg-primary);
    border-radius: var(--radius-minimal);
    transition: background-color .2s ease-in-out;
    color: var(--fd-color-item-active-txt);
}
/* ! OPEN DROPDOWN */
.open-dropdown {
    grid-template-rows: var(--rows-dropdown, 1fr);
}
/* ! OPEN DROPDOWN */
.active {
    background-color: var(--fd-color-item-active);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius-minimal);
    color: var(--fd-color-item-active-txt);
}

/* * Responsive MD */
@media screen and (min-width:481px) and (max-width:1024px) {
   .main-cont {
    display: none;
   }
}
/* * Responsive SM */
@media screen and (max-width:480px) {
    .main-cont {
     display: none;
    }

}