<!-- MENU CONTAINER -->
<div class="main-cont">
    <!-- ? HEADER -->
    <div class="header">
        <!-- LOGO -->
        <img [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/logo/logo-avatar.svg'" 
            alt="logo menu movile">
        <div class="txt-cont">
            <p class="font__size--b1 font__color--primary font__weight--medium" >Erick Eduardo</p>
            <p class="font__size--c1 font__color--item font__weight--regular" >Desarrollador web</p>
        </div>
        
    </div>
    <!-- ? MENU NAVIGATION-->
    <ul class="menu-list">
        <!-- GROUP NAME -->
        <p class="font__size--b1 font__color--group-name font__weight--medium">{{ 'menu.nav' | translate:translateService.GetLang | titlecase  }}</p>

        @for (nav of menuNav; track $index) {
            <li>
                <!-- LINK MENU -->
                @if(nav.close) {
                    <a  class="font__size--b1 font__color--item"
                        [routerLink]="nav.router" 
                        [href]="nav.router"
                        (click)="closeMenu()"
                        routerLinkActive="active">
                        <div class="icon-txt">
                            <img [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-'+nav.icon+'.svg'" 
                                class="icon_md"
                                alt="icon {{nav.icon}}">
                                <!-- TXT -->
                                <p class="font__weight--regular" routerLinkActive="font__weight--semibold">
                                    {{ nav.txt | translate:translateService.GetLang }}
                                </p>

                        </div>
                    </a>
                }
                @else {
                    <a  class="font__size--b1 font__color--item"
                        [href]="nav.router"
                        [routerLink]="nav.router">
                        <!-- ICON CHEVRON -->
                        <div class="icon-txt">
                            <img [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-'+nav.icon+'.svg'" 
                                class="icon_md"
                                alt="icon {{nav.icon}}">
                                <!-- TXT -->
                                <p class="font__weight--regular" routerLinkActive="font__weight--semibold">
                                    {{ nav.txt | translate:translateService.GetLang }}
                                </p>

                        </div>
                        <img [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-chevron.svg'" 
                            class="icon_xs"
                            alt="icon {{nav.icon}}">
                    </a>
                }
            </li>
        }
    </ul>
    
</div>
