  <!-- ? FIELD -->
  <div class="field_">
    <!-- ? INPUT -->
    <label class="input_"> 
        <!-- LEGEND -->
        @if( legendName ) {
            <legend class="font__size--label font__weight--medium font__color--quaternary"> 
                {{  legendName  }} 
            </legend>
        }
        <!-- ? INPUT PRIMARY -->
        <input  [type]="inputType" 
                (change)="changeText($event)"
                [maxLength]="maxLength"
                [minLength]="minLength"
                [disabled]="isDisabled"
                [value]="fieldValue"
                class="primary_input"
                [ngClass]="{ 'input_error' : isSubmitted }">
        @if(showIcon) {
            <!-- ICON -->
            <img [src]="'../../../../assets/theme/'+ localStorageService.GetMode +'/icon/'+icon+'.svg'" alt="">
        }

    </label>
    <!-- ! ERROR MSN -->
    @if ( isSubmitted ) {
        <span  class="font__size--c1 font__weight--regular input_error_msn"> 
            {{errorMessage}} 
        </span>
    }
    
</div>