  <div class="field">
    <label class="field__container"> 
        @if( legendName ) {
            <legend class="field__legend"> 
                {{  legendName  }} 
                @if( isRequired ) {
                    <span class="font__color--danger">
                        * 
                    </span>
                }
            </legend>
        }
        <input  
            class="input"
            [type]="inputType" 
            (change)="changeText($event)"
            [placeholder]="placeholder"
            [maxLength]="maxLength"
            [minLength]="minLength"
            [disabled]="isDisabled"
            [value]="fieldValue"
            [ngClass]="{ 'input--error' : isSubmitted }
        ">
        @if(showIcon) {
            <img
                class="field__icon"
                width="17" 
                height="17"
                [alt]="iconName"
                [ngSrc]="'../../../../assets/theme/'+ localStorageService.GetMode +'/icon/'+iconName+'.svg'"
            >
        }

    </label>
    <!-- ! ERROR MSN -->
    @if ( isSubmitted ) {
        <span class="
                font__size--c1 
                font__weight--regular 
                input--error_msn
            "> 
            {{errorMessage}} 
        </span>
    }
    
</div>