<!-- MENU CONTAINER -->
<div class="main-cont" [ngClass]="{
    'collapse': !isOpenMenu
    }">
    <!-- ? HEADER -->
    <div class="header">
        <!-- LOGO -->
        <img [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/logo/logo-txt.svg'"
            width="43" 
            height="43" 
            alt="logo menu movile"
            >
        <!-- CROSS -->
        <img [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-cross.svg'" 
            (click)="closeMenu()" 
            class="icon_sm"
            width="78" 
            height="43" 
            alt="logo menu movile"
            >
        
    </div>
    <!-- ? MENU NAVIGATION-->
    <ul class="menu-list">
        <!-- GROUP NAME -->
        <p class="font__size--b1 font__color--group-name font__weight--medium">{{ 'menu.nav' | translate:translateService.GetLang | titlecase  }}</p>

        @for (nav of menuNavigation; track $index) {
            <li>
                <!-- LINK MENU -->
                @if(nav.close) {
                    <a  class="font__size--b1 font__color--item"
                        [routerLink]="nav.router" 
                        [href]="nav.router"
                        (click)="closeMenu()"
                        routerLinkActive="active">
                        <div class="icon-txt">
                            <img [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-'+nav.icon+'.svg'" 
                                class="icon_md"
                                alt="icon {{nav.icon}}">
                                <!-- TXT -->
                                <p class="font__weight--regular" routerLinkActive="font__weight--semibold">
                                    {{ nav.txt | translate:translateService.GetLang }}
                                </p>

                        </div>
                    </a>
                }
                @else {
                    <a  class="font__size--b1 font__color--item"
                        [href]="nav.router"
                        [routerLink]="nav.router">
                        <!-- ICON CHEVRON -->
                        <div class="icon-txt">
                            <img [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-'+nav.icon+'.svg'" 
                                class="icon_md"
                                alt="icon {{nav.icon}}">
                                <!-- TXT -->
                                <p class="font__weight--regular" routerLinkActive="font__weight--semibold">
                                    {{ nav.txt | translate:translateService.GetLang }}
                                </p>

                        </div>
                        <img [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-chevron.svg'" 
                            class="icon_xs"
                            alt="icon {{nav.icon}}">
                    </a>
                }
            </li>
        }
    </ul>
    <!-- ? MENU SETTINGS -->
    <ul class="menu-list">
        <!-- GROUP NAME -->
        <p class="font__size--b1 font__color--group-name font__weight--medium">{{ 'menu.settings' | translate:translateService.GetLang | titlecase  }}</p>

        <!-- ? TRANSLATE LIST -->
        <li class="li-dropdown">
            <a  class="font__size--b1 font__color--item" 
                (click)="openLangDropdown()">
                <!-- ICON CHEVRON -->
                <div class="icon-txt">
                    <img [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-translate.svg'" 
                        class="icon_md"
                        alt="icon translate">
                        <!-- TXT -->
                        <p class="font__weight--regular" [ngClass]="{'font__weight--semibold': isDropdownLangOpen}">
                            {{ 'menu.translate' | translate:translateService.GetLang }}
                        </p>
                </div>
                <img [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-chevron.svg'" 
                    class="icon_xs chevron"
                    [ngClass]="{'rotation': isDropdownLangOpen}"
                    alt="icon chevron">
            </a>
            <!-- ? DROPDOWN CONTAINER -->
            <div class="dropdown-cont"
                [ngClass]="{'open-dropdown': isDropdownLangOpen }" >
                <ul class="dropdown">
                    <li class="font__size--b2 font__color--item" 
                        (click)="changeLang('es')"> 
                        <!-- LINE -->
                        <div class="line" [ngClass]="{'line-selected': GetLang === 'es'}">
                        </div>
                        <!-- LANG -->
                        <div class="lang" [class]="{ 'lang-selected' : GetLang === 'es' }">
                            <!-- MARKER -->
                            <div class="marker"></div>
                            <!-- TXT -->
                            <p class="font__weight--regular">
                                {{ 'lang.es' | translate:translateService.GetLang }}
                            </p>
                        </div>
                    </li>
                    <li class="font__size--b2 font__color--item" 
                        (click)="changeLang('en')"> 
                        <!-- LINE -->
                        <div class="line" [ngClass]="{'line-selected': GetLang === 'en'}">
                        </div>
                        <!-- LANG -->
                        <div class="lang" [class]="{ 'lang-selected' : GetLang === 'en' }">
                            <!-- MARKER -->
                            <div class="marker"></div>
                            <!-- TXT -->
                            <p class="font__weight--regular">
                                {{ 'lang.en' | translate:translateService.GetLang }}

                            </p>
                        </div>
                    </li>
                </ul>

            </div>
        </li>

        <!-- ? THEME LIST -->
        <li class="li-dropdown">
            <a  class="font__size--b1 font__color--item" 
                (click)="openThemeDropdown()">
                <!-- ICON CHEVRON -->
                <div class="icon-txt">
                    <img [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-appearance.svg'" 
                        class="icon_md"
                        alt="icon translate">
                        <!-- TXT -->
                        <p class="font__weight--regular" [ngClass]="{'font__weight--semibold': isDropdownThemeOpen}">
                            {{ 'menu.appearance' | translate:translateService.GetLang }}
                        </p>
                </div>
                <img [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-chevron.svg'" 
                    class="icon_xs chevron"
                    [ngClass]="{'rotation': isDropdownThemeOpen}"
                    alt="icon chevron">
            </a>


            <!-- ? DROPDOWN CONTAINER -->
            <div class="dropdown-cont"
                [ngClass]="{'open-dropdown': isDropdownThemeOpen }" >
                <ul class="dropdown">
                    <li class="font__size--b2 font__color--item" 
                        (click)="themeService.changeMode('light')"> 
                        <!-- LINE -->
                        <div class="line" 
                            [ngClass]="{'line-selected': localStorageService.GetMode === 'light'}">
                        </div>
                        <!-- LANG -->
                        <div class="lang" [class]="{ 'lang-selected' : localStorageService.GetMode === 'light' }">
                            <!-- MARKER -->
                            <div class="marker"></div>
                            <!-- TXT -->
                            <p class="font__weight--regular">
                                {{ 'menu.light' | translate:translateService.GetLang }}
                            </p>
                        </div>
                    </li>
                    <li class="font__size--b2 font__color--item" 
                        (click)="themeService.changeMode('dark')"> 
                        <!-- LINE -->
                        <div class="line" 
                            [ngClass]="{'line-selected': localStorageService.GetMode === 'dark'}">
                        </div>
                        <!-- LANG -->
                        <div class="lang" [class]="{ 'lang-selected' : localStorageService.GetMode === 'dark' }">
                            <!-- MARKER -->
                            <div class="marker"></div>
                            <!-- TXT -->
                            <p class="font__weight--regular">
                                {{ 'menu.dark' | translate:translateService.GetLang }}
                            </p>
                        </div>
                    </li>
                </ul>

            </div>
        </li>
    </ul>
    
</div>
