@if(pieGrid === 'es') {
    <!-- Loader Container -->
    <div class="pie-cont es">
        <!-- Loader -->
        <div class="pie"></div>
        <div class="pie-2"></div>

        <!-- TXT PERCENT -->
        <p class="font_b2 color_primary font_semibold">
            {{ percent+'%' }}
        </p>
    </div>
}
@if(pieGrid === 'en') {
    <!-- Loader Container -->
    <div class="pie-cont en">
        <!-- Loader -->
        <div class="pie"></div>
        <div class="pie-2"></div>

        <!-- TXT PERCENT -->
        <p class="font_b2 color_primary font_semibold">
            {{ percent+'%' }}
        </p>
    </div>
}