<div class="main">
    <div class="container">
        <div>
            <p class="
                font__size--h5
                font__weight--bold
                font__color--primary
                ">
                {{ 'input.thanks' | translate:translateService.GetLang }}
            </p>
            <p class="
                font__size--b1
                font__weight--regular
                font__color--quaternary
                ">
                {{ 'input.thanks2' | translate:translateService.GetLang }}
            </p>
        </div>
    
        <button class="btn" routerLink="../about">

            {{ 'button.back' | translate:translateService.GetLang }}
        </button>
    </div>
</div>
