<!-- ? MAIN CONTAINER -->
<div class="main-cont">
    <!-- ? PROFILE CONTAINER -->
    <section class="profile-cont">
        <!-- COVER -->

    </section>
    
    <!-- ? PROFILE IMG -->
    <div class="profile-img">
        <!-- AVATAR -->
        <img class="avatar" [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/img/profile.webp'" alt="avatar logo" fill priority>
        
    </div>
    
    <!-- STATUS -->
    <div class="status"></div>

    <section>
        <!-- TITLE CONTAINER -->
        <div class="title-cont">
            <!-- TITLE -->
            <p class="font__size--h4 font__weight--bold font__color--brand-primary">
                Erick Alcocer
            </p>
            <!-- TXT -->
            <p class="font__size--b1 font__weight--medium font__color--tertiary">
                {{ 'home.section-1.ocupation' | translate:translateService.GetLang }}
            </p>
        
        </div>
        
        <!-- ? FOOTER -->
        <div class="footer">
            
            <!-- TEXT CONTAINER -->
            <div class="txt-cont">
                <!-- SOCIAL MEDIA -->
                <div class="social-media">
                    <!-- Linkedin -->
                    <a href="https://www.linkedin.com/in/erick-alcocer-06ba2b149/" target="_blank">
                        <!-- ICON -->
                        <img [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-linkedin.svg'" alt="Linkedin logo" width="37" height="37">
                    </a>
                    
                    <!-- GitHub -->
                    <a href="https://github.com/FineYUDU" target="_blank">
                        <!-- ICON -->
                        <img [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-github.svg'" alt="Github logo" width="37" height="37">
                    </a>
                    
                    <!-- X -->
                    <a href="https://twitter.com/FineYUDU" target="_blank">
                        <!-- ICON -->
                        <img [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-x.svg'" alt="x logo" width="37" height="37">
                    </a>
    
                </div> 
                <p class="font__color--secondary font__size--c1 font__weight--regular"> {{ 'home.section-1.upgrade' | translate:translateService.GetLang }} {{'03/08/2024'}} </p>
            </div>    

            <!-- ? BUTTONS CONTAINER -->
            <div class="btns-cont">
                <!-- BUTTON -->
                <button type="button" class="btn_brand_primary">
                    {{ 'button.cv' | translate:translateService.GetLang }}
                    <!-- ICON -->
                    <img class="icon_sm" [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-file-download.svg'" alt="Download file">
            
                </button>
    
                <!-- BUTTON -->
                <button type="button" class="btn_brand_secondary">
                    {{ 'button.contact' | translate:translateService.GetLang }}
                    <!-- ICON -->
                    <img class="icon_sm" [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-paper-plane.svg'" alt="Download file">
            
                </button>

            </div>
        
        </div>

    </section>

</div>
