/* ? MAIN CONTAINER */
section {
    position: relative;
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius-full);
}
/* ICON */
/* * ROTATE OPEN */
.rotate-open {
    transform: rotate(180deg);
    transition:transform .3s ease-in-out;
}
/* * ROTATE CLOSE */
.rotate-close {
    transform: rotate(0deg);
    transition:transform .3s ease-in-out;
}
/* ? DROPDOWN */
.dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: var(--color-bg-secondary);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius-minimal);
    border:.0625rem solid var(--color-secondary);
}
/* * DROPDOWN OPEN */
.dropdown-open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path .3s ease-in-out;
}
/* * DROPDOWN CLOSE */
.dropdown-close {
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
}
.dropdown ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}
.dropdown ul li {
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius-minimal);
}
.dropdown ul li:hover {
    background-color: var(--color-bg-primary);
}
.selected {
    background-color: var(--color-primary);
    color: var(--color-lang-selected-txt);
}
.dropdown ul .selected:hover {
    background-color: var(--color-primary);
    color: var(--color-lang-selected-txt);
}