<!-- ? MAIN CONTAINER -->
<div class="main-cont">
    <section (click)="toggleDropdown()" class="cursor--pointer">
        <!-- ICON -->
        <img [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-translate.svg'" alt="Icon translate" class="icon_md">

        <!-- TXT -->
        <p class="font__size--b1 font__color--item font__weight--medium"> {{'lang.selected' | translate:translateService.GetLang }} </p>

        <!-- ICON -->
        <img [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-chevron.svg'" 
            class="icon_xs" 
            alt="Icon chevron"
            [ngClass]="{
                'rotate-open': isDropdownOpen, 
                'rotate-close': !isDropdownOpen 
            }">

        <!-- ? DROPDOWN -->
        <div class="dropdown"
            [ngClass]="{
                'dropdown-open': isDropdownOpen,
                'dropdown-close': !isDropdownOpen,
            }">
            <ul>
                <li class=" font__size--b1 font__color--item font__weight--medium" 
                    [ngClass]="{'selected': translateService.GetLang === 'es'}"
                    (click)="translateService.toggleLang('es')">
                    {{'lang.es' | translate:translateService.GetLang }} 
                </li>
                <li class=" font__size--b1 font__color--item font__weight--medium" 
                    [ngClass]="{'selected': translateService.GetLang === 'en'}"
                    (click)="translateService.toggleLang('en')"> 
                    {{'lang.en' | translate:translateService.GetLang }} 
                </li>
                
            </ul>

        </div>

    </section>

</div>

