<!-- ? MAIN CONTAINER -->
<div class="main-cont">
    <!-- TITLE -->
    <p class="font__color--primary font__size--h5 font__weight--medium">
        {{ 'home.section-2.title' | translate:translateService.GetLang }}
    </p>

    <div class="hr"></div>

    <!-- LIST -->
    <ul>
        <!-- # 1 -->
        <li>                    
            <!-- ? TEXT LIST -->
            <div class="txt-li">
                <!-- CIRCLE -->
                <div class="circle"></div>
                <!-- TXT -->
                <p class="font__size--b2 font__color--primary font__weight--regular">
                    {{ 'home.section-2.li-1' | translate:translateService.GetLang }} 
                    <span class="font__size--b1 font__color--brand-primary font__weight--medium"> 
                        Angular 
                    </span>
                </p>
    
            </div>
            <!-- FOOTER LI -->
            <p class="footer-li font__size--c1 font__color--quaternary font__weight--regular">
                4 años
            </p>
            
        </li>
        <!-- # 2 -->
        <li>
            <!-- ? TEXT LIST -->
            <div class="txt-li">
                <div class="circle"></div>
                <p class="font__size--b2 font__color--primary font__weight--regular">
                    {{ 'home.section-2.li-2' | translate:translateService.GetLang }} 
                    <strong class="font__size--b1 font__color--brand-primary font__weight--medium"> 
                        Dashboards 
                    </strong>
                </p>

            </div>
            <!-- FOOTER LI -->
            <p class="footer-li font__size--c1 font__color--quaternary font__weight--regular">
                3 años
            </p>            
            
        </li>
        <!-- # 3 -->
        <li>
            <!-- ? TEXT LIST -->
            <div class="txt-li">
                <div class="circle"></div>
                <p class="font__size--b2 font__color--primary font__weight--regular">
                    {{ 'home.section-2.li-3' | translate:translateService.GetLang }} 
                    <strong class="font__size--b1 font__color--brand-primary font__weight--medium"> 
                        Design Systems 
                    </strong>
                    {{ 'home.section-2.li-3-2' | translate:translateService.GetLang }} 
                    <strong class="font__size--b1 font__color--brand-primary font__weight--medium"> 
                        Atomic Design 
                    </strong>
                </p>

            </div>

            <!-- FOOTER LI -->
            <p class="footer-li font__size--c1 font__color--quaternary font__weight--regular">
                2 años
            </p>
            
            
        </li>
        <!-- # 4 -->
        <li>
            <!-- ? TEXT LIST -->
            <div class="txt-li">
                <div class="circle"></div>
                <p class="font__size--b2 font__color--primary font__weight--regular">
                    <strong class="font__size--b1 font__color--brand-primary font__weight--medium"> 
                        {{ 'home.section-2.li-4' | translate:translateService.GetLang }} 
                    </strong>
        
                    {{ 'home.section-2.li-4-2' | translate:translateService.GetLang }} 
        
                    <strong class="font__size--b1 font__color--brand-primary font__weight--medium"> 
                        Figma 
                    </strong>
        
                </p>

            </div>
            <!-- FOOTER LI -->
            <p class="footer-li font__size--c1 font__color--quaternary font__weight--regular">
                2 años
            </p>
            
        </li>

        <!-- # 5 -->
        <li>
            <!-- ? TEXT LIST -->
            <div class="txt-li">
                <div class="circle"></div>
                <p class="font__size--b2 font__color--primary font__weight--regular">
                    {{ 'home.section-2.li-5' | translate:translateService.GetLang }} 
                    <span class="font__size--b1 font__color--brand-primary font__weight--medium"> 
                        Angular Material, Bootstrap, PrimeNG
                    </span>
        
                </p>

            </div>
            <!-- FOOTER LI -->
            <p class="footer-li font__size--c1 font__color--quaternary font__weight--regular">
                4 años
            </p>
            
        </li>

        <!-- # 6 -->
        <li>
            <!-- ? TEXT LIST -->
            <div class="txt-li">
                <div class="circle"></div>
                <p class="font__size--b2 font__color--primary font__weight--regular">
                    {{ 'home.section-2.li-6' | translate:translateService.GetLang }} 
                    <span class="font__size--b1 font__color--brand-primary font__weight--medium"> 
                        REST API
                    </span>
        
                </p>

            </div>
            <!-- FOOTER LI -->
            <p class="footer-li font__size--c1 font__color--quaternary font__weight--regular">
                4 años
            </p>
            
        </li>

        <!-- # 7 -->
        <li>
            <!-- ? TEXT LIST -->
            <div class="txt-li">
                <div class="circle"></div>
                <p class="font__size--b2 font__color--primary font__weight--regular">
                    {{ 'home.section-2.li-7' | translate:translateService.GetLang }} 
                    <span class="font__size--b1 font__color--brand-primary font__weight--medium"> 
                        SCRUM
                    </span>
        
                </p>

            </div>
            <!-- FOOTER LI -->
            <p class="footer-li font__size--c1 font__color--quaternary font__weight--regular">
                2 años
            </p>
            
        </li>
    
        <!-- # 8 -->
        <li>
            <!-- ? TEXT LIST -->
            <div class="txt-li">
                <div class="circle"></div>
                <p class="font__size--b2 font__color--primary font__weight--regular">
                    {{ 'home.section-2.li-8' | translate:translateService.GetLang }} 
                    <span class="font__size--b1 font__color--brand-primary font__weight--medium"> 
                        SOLID
                    </span>
                    {{ 'home.section-2.li-8-2' | translate:translateService.GetLang }} 
                    <span class="font__size--b1 font__color--brand-primary font__weight--medium"> 
                        Clean Code
                    </span>
        
                </p>

            </div>
            <!-- FOOTER LI -->
            <p class="footer-li font__size--c1 font__color--quaternary font__weight--regular">
                2 años
            </p>
            
        </li>
    
    </ul>

</div>