.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-blocks);
    /* TITLE */
    .title--block {
        display: flex;
        flex-direction: column;
    }
}
.block__cards {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 4fr 1fr;
    column-gap: var(--spacing-blocks);
    row-gap: var(--spacing-blocks);
    /* USER */
    .card__user {
        background-color: var(--fd-color-main-card);
        border-radius: var(--radius-minimal);
        overflow: hidden;
        grid-column-start:1;
        grid-column-end:5;
    }
    /* EXPERIENCE */
    .card__experience {
        background-color: var(--fd-color-bg-secondary);
        border-radius: var(--radius-minimal);
        padding: var(--spacing-sm) var(--spacing-md);
        grid-column-start:5;
        grid-column-end:7;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    /* LANGUAGE */
    .card__lang {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--spacing-blocks);
        grid-column-start:1;
        grid-column-end: 5;
        .lang {
            display: flex;
            align-items: center;
            gap: var(--spacing-sm);
            background-color: var(--fd-color-bg-secondary);
            border-radius: var(--radius-minimal);
            padding: var(--spacing-sm) var(--spacing-md);
            justify-content: space-between;
        }
    }
}

.items--block {
    border-radius: var(--radius-minimal);
    overflow: hidden;
    /* UL */
    ul {
        display:grid;
        grid-template-columns: repeat(6,1fr);
        row-gap: var(--spacing-blocks);
        column-gap: var(--spacing-blocks);
    }
    /* LI */
    li {
        position: relative;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        text-align: center;
        background-color: var(--fd-color-bg-secondary);
        border-radius: var(--radius-minimal);
        gap: var(--spacing-sm);
        padding: var(--spacing-md);
        transition: background-color .3s ease-in-out;
    }
    /* ! PSEUDO CLASSES */
    li:hover {
        background-color: var(--fd-color-primary);
        cursor: pointer;
        transition: background-color .3s ease-in-out;
    }
    ul li:hover p {
        color: var(--fd-color-bg-secondary);
        font-weight: 700;
        grid-area: 2;
    } 
    /* IMG */
    ul li img {
        display: flex;
    }
    ul li .img-item {
        display: block;
    }
    ul li .img-item-hover {
        position: absolute;
        grid-area: 1;
        top: 0;
        opacity: 0;
    }
    ul li:hover .img-item {
        opacity: 0;
    }
    
    ul li:hover .img-item-hover {
        display: block;
        opacity: 1;
    }
}
    

/* * Responsive SM */
@media screen and (max-width:480px) {
    .block__cards {
        display: flex;
        flex-direction: column;
        /* LANGUAGE */
        .card__lang {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-blocks);
        }
    }
    .items--block {
        ul {
            display:grid;
            grid-template-columns: repeat(2,1fr);
            flex-direction: column;
            row-gap: var(--spacing-blocks);
            column-gap: var(--spacing-blocks);
        }
        /* ! HOVER */
        ul li:hover {
            background-color: var(--fd-color-bg-secondary);
            cursor: auto;
            transition: background-color .3s ease-in-out;
        }
        ul li:hover p {
            color: var(--fd-color-item);
            font-weight: 500;
        } 
    }
    
}
/* * Responsive MD */
@media screen and (min-width:481px) and (max-width:1024px) {
    .block__cards {
        display: flex;
        flex-direction: column;
        /* LANGUAGE */
        .card__lang {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            row-gap: var(--spacing-blocks);
            column-gap: var(--spacing-blocks);
        }
    }
    .items--block {
        ul {
            display:grid;
            grid-template-columns: repeat(4,1fr);
            flex-direction: column;
            row-gap: var(--spacing-blocks);
            column-gap: var(--spacing-blocks);
        }
        ul li {
            padding: var(--spacing-sm);
        }
        /* ! HOVER */
        ul li:hover {
            background-color: var(--fd-color-bg-secondary);
            cursor: auto;
            transition: background-color .3s ease-in-out;
        }
        ul li:hover p {
            color: var(--fd-color-item);
            font-weight: 500;
        } 
    } 
}