<div class="container">
    <div>
        <p class="
            font__size--h5 
            font__color--primary 
            font__weight--bold"
            >
            {{ 'home.title' | translate:translateService.GetLang }}
        </p>
        
        <p class="
            font__size--b1 
            font__color--quaternary 
            font__weight--regular"
            >
            {{ 'home.subtitle' | translate:translateService.GetLang }} Angular v17.0.8
        </p>

    </div>

    <div class="block__cards">
        <section class="card__user">
            <user-card/>
            
        </section>
    
        <section class="card__experience">
            <experience/>

        </section>
    
        <section class="card__lang" >
            <div class="lang">
                <pie-grid [pieGrid]="'es'" [percent]="90"/>
                
                <div>
                    <p class="
                        font__size--b1 
                        font__weight--bold 
                        font__color--primary"
                        >
                        {{ 'lang.es' | translate:translateService.GetLang }}
                    </p>

                    <p class="
                        font__size--b2 
                        font__weight--regular 
                        font__color--quaternary"
                        >
                        {{ 'lang.native' | translate:translateService.GetLang }}
                    </p>

                </div>

            </div>
    
            <div class="lang">
                <pie-grid [pieGrid]="'en'" [percent]="60"/>

                <div>
                    <p class="
                        font__size--b1 
                        font__weight--bold 
                        font__color--primary"
                        >
                        {{ 'lang.en' | translate:translateService.GetLang }}
                    </p>

                    <p class="
                        font__size--b2 
                        font__weight--regular 
                        font__color--quaternary"
                        >
                        {{ 'lang.level' | translate:translateService.GetLang }}
                    </p>

                </div>
    
            </div>
    
        </section>

    </div>
    
    <div class="title--block">
        <p class="
            font__size--h5 
            font__color--primary 
            font__weight--bold"
            > 
            {{ 'home.title-2' | translate:translateService.GetLang }} 
        </p>

    </div>

    <education [educationBlock]="education"/>

    
    <div class="title--block">
        <p class="
            font__size--h5 
            font__color--primary 
            font__weight--bold"
            > 
            {{ 'Stack' | translate:translateService.GetLang }} 
        </p>

    </div>

    <div class="items--block">
        <ul>
            @for ( item of stacks; track $index) {
                <li>
                    <img 
                        class="img-item" 
                        width="48" 
                        height="48"
                        [alt]="'logo'+item.img" 
                        [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/logo/stacks/logo-'+item.img+'.svg'" 
                        >
                    <!-- ! HOVER LOGO -->
                    <img 
                        class="img-item-hover" 
                        width="48" 
                        height="48"
                        [alt]="'logo'+item.img" 
                        [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/logo/stacks/hover/logo-'+item.img+'.svg'" 
                        >

                    <p class="
                        font__size--b1 
                        font__weight--medium 
                        font__color--item"
                        > 
                        {{item.txt}} 
                    </p>

                </li>
            }
        </ul>
    </div>
    
    <div class="title--block">
        <p class="
            font__size--h5 
            font__color--primary 
            font__weight--bold"
            > 
            {{ 'home.title-3' | translate:translateService.GetLang }} 
            
        </p>

    </div>

    <div class="items--block">
        <ul>
            @for ( item of tools; track $index) {
                <li>
                    <img 
                        class="img-item" 
                        width="48" 
                        height="48"
                        [alt]="'logo'+item.img"  
                        [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/logo/tools/logo-'+item.img+'.svg'" 
                        >

                    <!-- ! HOVER LOGO -->
                    <img 
                        class="img-item-hover" 
                        width="48" 
                        height="48"
                        [alt]="'logo'+item.img" 
                        [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/logo/tools/hover/logo-'+item.img+'.svg'" 
                        >

                    <p class="
                        font__size--b1 
                        font__weight--medium 
                        font__color--item"> 
                        {{item.txt}} 
                    </p>
                    
                </li>
            }
        </ul>

    </div>


</div>