<div class="container">
    <div class="block--title">
        <p class="
            font__size--h5 
            font__color--primary 
            font__weight--bold"
            >
            {{ 'contact.title' | translate:translateService.GetLang }}
        </p>
        
        <p class="
            font__size--b1 
            font__color--quaternary 
            font__weight--regular"
            >
            {{ 'contact.subtitle' | translate:translateService.GetLang }}
        </p>

    </div>
    
    <div class="block--contact">

    </div>
</div>
<!-- <div class="main-cont">
    <section>
    </section>
    <section>
        <form action="">
            <input-field
            [legendName]="'input.full-name' | translate:translateService.GetLang"
            [showIcon]="true"
            [icon]="'icon-full-name'"
            />
            <input-field
            [legendName]="'input.email' | translate:translateService.GetLang"
            [showIcon]="true"
            [icon]="'icon-email'"
            />
            <button class="btn_primary">
                {{ 'button.send' | translate:translateService.GetLang }}
            </button>
        </form>

    </section>
</div> -->