/* ? MAIN CONTAINER */
.main-cont {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-minimal);
    background-color: var(--color-bg-secondary);
    display: flex;
    justify-content: center;
}
/* ? CONTAINER */
.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* ? SECTION | LOGO */
.logo-cont {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}
/* ? SECTION | MENU */
.menu-cont {
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
}
/* ? SECTION | MENU MOVILE */
.menu-movile {
    display: none;
}
.logo-cont .avatar {
    width: 2.6875rem;
    height: 2.6875rem;
}
/* LOGO TXT */
.logo-cont .logo-txt {
    height: 1.5rem;
    width: 4.875rem;
}
/* ? MENU  */
ul {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
}
.block {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
}
/* * Active */
.active {
    font-weight: 600;
}
/* * Responsive SM */
@media screen and (max-width:480px) {
    section:nth-of-type(2) {
        display: none;
    }
    
    section:nth-of-type(3) {
        display: flex;
    }
}
/* * Responsive MD */
@media screen and (min-width:481px) and (max-width:1024px) {
    section:nth-of-type(2) {
        display: none;
    }
    
    section:nth-of-type(3) {
        display: flex;
    }
    
}