/* ? MAIN CONTAINER */
.main-cont {
    border-radius: var(--radius-minimal);
    display: flex;
    justify-content: flex-end;
}
/* ? SECTION | MENU MOVILE */
.menu-movile {
    display: none;
}
.block {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
}
/* * Responsive SM */
@media screen and (max-width:480px) {
    section:first-child {
        display: none;
    }
    
    section:last-child {
        display: flex;
    }
}
/* * Responsive MD */
@media screen and (min-width:481px) and (max-width:1024px) {
    section:first-child {
        display: none;
    }
    
    section:last-child {
        display: flex;
    }
}