<!-- ? MAIN CONTAINER -->
<div class="main-cont">
    <!-- ? SECTION | MENU -->
    <section class="menu-cont">
        <!-- ? BLOCK | MENU -->
        <div class="block">
            <!-- THEME -->
            <theme-switch></theme-switch>
            <!-- TRANSLATE -->
            <translate-switch></translate-switch>

        </div>

    </section>

    <!-- ? SECTION | MENU MOVILE -->
    <section class="menu-movile">
        <div class="menu-movile-cont">
            <img (click)="closeMenu()" class="icon_lg" [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-menu.svg'" alt="icon menu">
        </div>

        <menu-movile 
        (closeMenuEvent)="closeMenu()"
        [isOpenMenu]="isOpenMenu"
        [menuNav]="menuNav"
        />

    </section>
</div>
