/* ? MAIN CONTAINER */
.main-cont {
    padding: var(--spacing-sm) 0;
    border-radius: var(--radius-minimal);
    background-color: var(--color-bg-secondary);
    display: flex;
    justify-content: center;
}
/* ? CONTAINER */
.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(var(--web-width) + var(--spacing-sm));
}
/* ? SECTION | LOGO | TRANSLATE & THEME */
section:nth-of-type(1) {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}
section:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
}
.logo-cont .avatar {
    width: 2.6875rem;
    height: 2.6875rem;
}
/* LOGO TXT */
.logo-cont .logo-txt {
    height: 1.5rem;
    width: 4.875rem;
}
/* ? MENU  */
ul {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
}
.block {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
}
/* * Active */
.active {
    font-weight: 600;
}
/* * Responsive SM */
@media screen and (max-width:480px) {
   
}