<nav>
    <div class="nav__container">
        <section class="container__header">
            <img 
                class="cursor--pointer"
                width="43"
                height="43"
                alt="Avatar FineDev"
                priority
                routerLink="./"
                [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/logo/logo-avatar.svg'"
            >
            <img 
                class="cursor--pointer"
                width="90"
                height="28"
                alt="Logo FineDev"
                priority
                routerLink="./"
                [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/logo/logo-txt.svg'"
            >

        </section>

        <section class="container__body">
            <div class="container__body--block">
                <ul>
                    @for (nav of menuNavigator; track $index) {
                        <li>
                            <a  
                                class="
                                    font__size--b1 
                                    font__color--primary 
                                    font__weight--regular
                                "
                                [routerLink]="nav.router"
                                routerLinkActive="active--route"
                                >
                                {{ nav.txt | translate:translateService.GetLang }}
                            </a>
                        </li>
                    }
                </ul>

            </div>

            <div class="container__body--block">
                <theme-switch></theme-switch>
                <translate-switch></translate-switch>

            </div>

        </section>

        <section class="container__movile">
            <div class="container__movile-container">
                <img 
                alt="hamburger icon"
                width="24"
                height="24"
                (click)="closeMenu()" 
                [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-menu.svg'" alt="icon menu"
            >
            </div>

            <menu-movile
            (closeMenuEvent)="closeMenu()"
            [isOpenMenu]="isOpenMenu"
            [menuNavigator]="menuNavigator"
            />

        </section>

    </div>
</nav>
