<!-- ? MAIN CONTAINER -->
<div class="main-cont cursor--pointer"(click)="themeService.toggleTheme()">
    <!-- ICON -->
    <img class="icon_sm" [src]="'../../../../assets/theme/'+ls.GetMode +'/icon/icon-sun.svg'" alt="Icon sun">
    <!-- ICON -->
    <img class="icon_sm" [src]="'../../../../assets/theme/'+ls.GetMode +'/icon/icon-moon.svg'" alt="Icon moon">

    <!-- SELECTED -->
    <div class="circle" [ngClass]="{
        'light' : !themeService.toggle, 
        'dark'  : themeService.toggle
        }">
    </div>

</div>
