<!-- ? MAIN CONTAINER -->
<div class="main-cont">
    <!-- ? LOGO CONT -->
    <section>
        <!-- LOGO AVATAR -->
        <img class="cursor--pointer avatar"
            alt="Logo Avatar FineDev"
            routerLink="./" 
            [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/logo/logo-avatar-footer.svg'" width="60" height="60">
    </section>

    <!-- ? NAV MENU -->
    <section>
        <!-- ? MENU -->
        <ul>
            @for (nav of menuNav; track $index) {
                <li>
                    <!-- LINK MENU -->
                    <a  class="font__size--b1 font__color--tertiary font__weight--regular"
                        [routerLink]="nav.router" 
                        routerLinkActive="active">
                        <!-- TXT -->
                        {{ nav.txt | translate:translateService.GetLang }}
                    </a>
                </li>
            }
        </ul>

    </section>

    <!-- ? SOCIAL MEDIA -->
    <section class="social-media-cont">
        
        <!-- Linkedin -->
        <a href="https://www.linkedin.com/in/erick-alcocer-06ba2b149/" target="_blank">
            <!-- ICON -->
            <img [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-linkedin.svg'" class="icon_lg" alt="Linkedin logo" width="24" height="24">
        </a>
        
        <!-- GitHub -->
        <a href="https://github.com/FineYUDU" target="_blank">
            <!-- ICON -->
            <img [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-github.svg'" class="icon_lg" alt="Github logo" width="24" height="24">
        </a>
        
        <!-- X -->
        <a href="https://twitter.com/FineYUDU" target="_blank">
            <!-- ICON -->
            <img [ngSrc]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-x.svg'" class="icon_lg" alt="x logo" width="24" height="24">
        </a>

    </section>

    <!-- ? VERSION CONTAINER -->
    <section>
        <!-- TXT -->
        <p class="font__size--b1 font__weight--semibold font__color--tertiary">
            {{ companyName }}
        </p>

        <!-- TXT -->
        <p class="font__size--b1 font__weight--regular font__color--tertiary">
            {{ 'version.current' | translate:translateService.GetLang }}
        </p>

        <!-- VERSION -->
        <version/>

    </section>

</div>
