.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* FOOTER CONTAINER */
    .footer__container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        width: var(--website--width);
        max-width: var(--website--max-width);
        background-color: var(--fd-color-main-card);
        padding: var(--spacing-sm) 0;
        border-radius: var(--radius-minimal);
    }
}
.section {
    display: flex;
    justify-content: center;
    gap: var(--spacing-2xs);
    /* SOCIAL MEDIA */
    .section__social-media {
        gap: var(--spacing-sm);
    }
}.section__social-media {
    gap: var(--spacing-md);
}
ul {
    display: flex;
    gap: var(--spacing-sm);
}
/* * Active */
.active--route {
    font-weight: 600;
}

/* ? Breakpoint SM */
@media screen and (max-width:460px) {
    .footer__container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        /* SOCIAL MEDIA */
        .section__social-media {
            gap: var(--spacing-sm);
        }
    }
    ul {
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-xs);
    }
}