/* ? MAIN CONTAINER */
.main-cont {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-tertiary);
    padding: var(--spacing-sm) 0;
    border-radius: var(--radius-minimal);
    gap: var(--spacing-md);
}
section {
    display: flex;
    justify-content: center;
    gap: var(--spacing-2xs);
}
.social-media-cont {
    gap: var(--spacing-sm);
}
.avatar {
    width: 3.75rem;
    height: 3.75rem;
}
ul {
    display: flex;
    gap: var(--spacing-sm);
}
/* * Active */
.active {
    font-weight: 600;
}