<!-- ? MAIN CONTAINER -->
<div class="main-cont">
    <!-- TITLE -->
    <div class="title-cont">
        <p class="font_h5 color_primary font_bold">
            {{ 'home.title' | translate:translateService.GetLang }}
        </p>
        
        <p class="font_b1 color_quaternary font_regular">
            {{ 'home.subtitle' | translate:translateService.GetLang }} Angular v17.0.8
        </p>

    </div>

    <!-- ? GRID SECTION -->
    <div class="grid-section">
        <!-- ? SECTION | USER -->
        <section class="user-cont">
            <user-card/>
            
        </section>
    
        <!-- ? SECTION | EXPERIENCE -->
        <section class="experience-section">
            <experience/>
        </section>
    
        <!-- ? SECTION | LANG -->
        <section class="lang-section" >
            <!-- ? LANG | ES -->
            <div class="lang">
                <!-- PERCENT -->
                <pie-grid [pieGrid]="'es'" [percent]="90"/>
                
                <!-- ? TEXT CONTAINER -->
                <div class="txt-cont">
                    <!-- TITLE -->
                    <p class="font_b1 font_bold color_primary">{{ 'lang.es' | translate:translateService.GetLang }}</p>
                    <!-- TXT -->
                    <p class="font_b2 font_regular color_quaternary">{{ 'lang.native' | translate:translateService.GetLang }}</p>

                </div>

            </div>
    
            <!-- ? LANG | EN -->
            <div class="lang">
                <!-- PERCENT -->
                <pie-grid [pieGrid]="'en'" [percent]="60"/>

                <!-- ? TEXT CONTAINER -->
                <div class="txt-cont">
                    <!-- TITLE -->
                    <p class="font_b1 font_bold color_primary">{{ 'lang.en' | translate:translateService.GetLang }}</p>
                    <!-- TXT -->
                    <p class="font_b2 font_regular color_quaternary">{{ 'lang.level' | translate:translateService.GetLang }}</p>

                </div>
    
            </div>
    
        </section>

    </div>
    
    <!-- TITLE -->
    <div class="title-cont">
        <p class="font_h5 color_primary font_bold"> 
            {{ 'home.title-2' | translate:translateService.GetLang }} 
        </p>

    </div>

    <section class="education-cont">
        <div class="txt-cont block-education">
            <p class="font_b1 color_item font_semibold" >Autónomo - Desarrollador Web</p>
            <p class="font_b2 color_item font_regular" >Febrero 2020 - Actualidad</p>
            <p class="font_b2 color_item font_regular" >Udemy, Crehana, Domestica, Platzi</p>
        </div>
        <div class="txt-cont block-education">
            <p class="font_b1 color_item font_semibold" >Técnico en Desarrollo Web</p>
            <p class="font_b2 color_item font_regular" >Enero 2019 - Febrero 2020</p>
            <p class="font_b2 color_item font_regular" >FIME UANL</p>
        </div>
        <div class="txt-cont block-education">
            <p class="font_b1 color_item font_semibold" >Ing Computación Administrativa</p>
            <p class="font_b2 color_item font_regular" >Febrero 2020 - Actualidad</p>
            <p class="font_b2 color_item font_regular" >TecMillenio </p>
        </div>
        
    </section>


    
    <!-- TITLE -->
    <div class="title-cont">
        <p class="font_h5 color_primary font_bold"> 
            {{ 'Stack' | translate:translateService.GetLang }} 
        </p>

    </div>

    <!-- ? STACK | SECTION -->
    <div class="item-section">

        <!-- ? ITEMS | CONTAINER -->
        <div class="items">
            <ul>
                @for ( item of stacks; track $index) {
                    <li>
                        <!-- LOGO -->
                        <img class="img-item" [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/logo/stacks/logo-'+item.img+'.svg'" [alt]="'logo'+item.img">
                        <!-- ! HOVER LOGO -->
                        <img class="img-item-hover" [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/logo/stacks/hover/logo-'+item.img+'.svg'" [alt]="'logo'+item.img">
                        <!-- TXT -->
                        <p class="font_b1 font_medium color_item"> {{item.img}} </p>
                    </li>
                }
            </ul>
        </div>

    </div>
    
    <!-- TITLE -->
    <div class="title-cont">
        <p class="font_h5 color_primary font_bold"> 
            {{ 'home.title-3' | translate:translateService.GetLang }} 
        </p>

    </div>

    <!-- ? TOOLS | SECTION -->
    <div class="item-section">
        <!-- ? ITEMS | CONTAINER -->
        <div class="items">
            <ul>
                @for ( item of tools; track $index) {
                    <li>
                        <!-- LOGO -->
                        <img class="img-item" [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/logo/tools/logo-'+item.img+'.svg'" [alt]="'logo'+item.img">
                        <!-- ! HOVER LOGO -->
                        <img class="img-item-hover" [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/logo/tools/hover/logo-'+item.img+'.svg'" [alt]="'logo'+item.img">
                        <!-- TXT-->
                        <p class="font_b1 font_medium color_item"> {{item.img}} </p>
                    </li>
                }
            </ul>
        </div>

    </div>


</div>