<!-- ? MAIN CONTAINER -->
<div class="main-cont">
    <section>
        <!-- TITLE CONTAINER -->
        <div class="title-cont">
            <p class="font_h5 font_medium color_tertiary">Hi there</p>
            <!-- TITLE -->
            <p class="font_h3 font_bold color_tertiary">I'm 
                <span class="font_bold color_brand_secondary">
                    Erick Eduardo
                </span>
            </p>
            <!-- TXT -->
            <p class="font_h4 font_medium color_tertiary">Web Developer</p>
    
        </div>
        <!-- ? CHIPS CONTAINER -->
        <chip [chips]="chips" />
    </section>
    <section>
        <p class="color_primary font_h5 font_medium" >Experience</p>
        <ul>
            <!-- # 1 -->
            <li class="font_b1 color_primary font_medium">
                
                <div class="circle"></div>
                <p>
                    Desarrollo y diseño de dashboard con 
                    <strong class="font_b1 color_brand_primary font_bold"> 
                        Angular 
                    </strong>
                </p>
                
            </li>

        </ul>

    </section>
</div>