/* ? MAIN CONTAINER */
.main-cont {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-blocks);
}
/* ? TITLE CONTAINER */
.title-cont {
    display: flex;
    flex-direction: column;
}
/* ? GRID SECTION */
.grid-section {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 4fr 1fr;
    column-gap: var(--spacing-blocks);
    row-gap: var(--spacing-blocks);
}
/* ? SECTIONS | USER  */
.user-cont {
    background-color: var(--color-main-card);
    border-radius: var(--radius-minimal);
    overflow: hidden;
    grid-column-start:1;
    grid-column-end:5;
}
/* ? SECTION | EXPERIENCE */
.experience-section {
    background-color: var(--color-bg-secondary);
    border-radius: var(--radius-minimal);
    padding: var(--spacing-sm) var(--spacing-md);
    grid-column-start:5;
    grid-column-end:7;
    grid-row-start: 1;
    grid-row-end: 3;
}
/* ? SECTION | LANG */
.lang-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-blocks);
    grid-column-start:1;
    grid-column-end: 5;
}
/* ? LANG | ES | EN */
.lang {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    background-color: var(--color-bg-secondary);
    border-radius: var(--radius-minimal);
    padding: var(--spacing-sm) var(--spacing-md);
    justify-content: space-between;
}
/* ? BLOCK LANG */
.block-lang {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

/* ? STACK | TOOL | SECTION */
.item-section {
    border-radius: var(--radius-minimal);
    overflow: hidden;
}
/* ? ITEMS | CONTAINER */
.item-section ul {
    display:grid;
    grid-template-columns: repeat(6,1fr);
    row-gap: var(--spacing-blocks);
    column-gap: var(--spacing-blocks);
}
.item-section ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-secondary);
    border-radius: var(--radius-minimal);
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
    transition: background-color .3s ease-in-out;
}
.item-section ul li:hover {
    background-color: var(--color-primary);
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
.item-section ul li:hover p {
    color: var(--color-bg-secondary);
    font-weight: 700;
} 
.item-section ul li img {
    width: 3rem;
    height: auto;
}
.item-section ul li .img-item {
    display: block;
}
.item-section ul li:hover .img-item {
    display: none;
}

.item-section ul li .img-item-hover {
    display: none;
}
.item-section ul li:hover .img-item-hover {
    display: block;
}
    

/* * Responsive SM */
@media screen and (max-width:480px) {
    /* ? GRID SECTION */
    .grid-section {
        display: flex;
        flex-direction: column;
    }
    /* ? SECTION | LANG */
    .lang-section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-blocks);
    }
    /* ? ITEMS | CONTAINER */
    .item-section ul {
        display:grid;
        grid-template-columns: repeat(2,1fr);
        flex-direction: column;
        row-gap: var(--spacing-blocks);
        column-gap: var(--spacing-blocks);
    }
    /* ! HOVER */
    .item-section ul li:hover {
        background-color: var(--color-bg-secondary);
        cursor: auto;
        transition: background-color .3s ease-in-out;
    }
    .item-section ul li:hover p {
        color: var(--color-item);
        font-weight: 500;
    } 
    
}
/* * Responsive MD */
@media screen and (min-width:481px) and (max-width:1024px) {
    /* ? GRID SECTION */
    .grid-section {
        display: flex;
        flex-direction: column;
    }
    /* ? SECTION | LANG */
    .lang-section {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: var(--spacing-blocks);
        column-gap: var(--spacing-blocks);
    }
    /* ? ITEMS | CONTAINER */
    .item-section ul {
        display:grid;
        grid-template-columns: repeat(4,1fr);
        flex-direction: column;
        row-gap: var(--spacing-blocks);
        column-gap: var(--spacing-blocks);
    }
    .item-section ul li {
        padding: var(--spacing-sm);
    }
    /* ! HOVER */
    .item-section ul li:hover {
        background-color: var(--color-bg-secondary);
        cursor: auto;
        transition: background-color .3s ease-in-out;
    }
    .item-section ul li:hover p {
        color: var(--color-item);
        font-weight: 500;
    } 
}