/* ? MAIN CONTAINER */
.main-cont {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-blocks);
}
/* ? TITLE CONTAINER */
.title-cont {
    display: flex;
    flex-direction: column;
}
/* ? GRID SECTION */
.grid-section {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 4fr 1fr;
    column-gap: var(--spacing-blocks);
    row-gap: var(--spacing-blocks);
}
/* ? SECTIONS | USER  */
.user-cont {
    background-color: var(--color-main-card);
    border-radius: var(--radius-minimal);
    overflow: hidden;
    grid-column-start:1;
    grid-column-end:5;
}
/* ? SECTION | EXPERIENCE */
.experience-section {
    background-color: var(--color-bg-secondary);
    border-radius: var(--radius-minimal);
    padding: var(--spacing-sm) var(--spacing-md);
    grid-column-start:5;
    grid-column-end:7;
    grid-row-start: 1;
    grid-row-end: 3;
}
/* ? SECTION | LANG */
.lang-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-blocks);
    grid-column-start:1;
    grid-column-end: 5;
}
.social-media-section img {
    width: 2.5rem;
    height: 2.5rem;
}
/* ? LANG | ES | EN */
.lang {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    background-color: var(--color-bg-secondary);
    border-radius: var(--radius-minimal);
    padding: var(--spacing-sm) var(--spacing-md);
    justify-content: space-between;
}
/* ? BLOCK LANG */
.block-lang {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}
/* ? EDUCATION CONTAINER  */
.education-cont {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--spacing-blocks);
}
.block-education {
    background-color: var(--color-bg-secondary);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-minimal);
}


/* ? SECTION | SCROLL */
.stack-section {
    background-color: var(--color-bg-secondary);
    border-radius: var(--radius-minimal);
    padding: var(--spacing-sm) var(--spacing-md);
    overflow: hidden;
}
.stack-section ul {
    display: flex;
    justify-content: space-between;
}
.stack-section ul li {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    align-items: center;
}
.stack-section ul li img {
    width: 3rem;
    height: auto;
}
    

/* * Responsive SM */
@media screen and (max-width:480px) {
    /* ? GRID SECTION */
    .grid-section {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0;
    }
    /* ? SECTIONS | USER  */
    .grid-section section:nth-of-type(1) {
        gap: var(--spacing-xs);
    }
    /* ? SECTION | SOCIAL MEDIA */
    .grid-section section:nth-of-type(2){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-column-start:1;
    }
    /* ? SECTION | EXPERIENCE */
    .grid-section section:nth-of-type(3) {
        grid-row-start:4;
        grid-row-end:5;
        grid-column-start:1;
        grid-column-end:2;
    }
    /* ? SECTION | LANG */
    .grid-section section:nth-of-type(4) {
        grid-row-start:3;
        display: flex;
        gap: var(--spacing-blocks);
        flex-direction: column;
    }  
    /* ! BEFORE */
    .logos::before {
        left: 0;
        background:transparent;
    }
    /* ! AFTER */
    .logos::after {
        right: 0;
        background:transparent;
    }
}
/* * Responsive MD */
@media screen and (min-width:481px) and (max-width:1024px) {
    /* ? GRID SECTION */
    .grid-section {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: var(--spacing-blocks);
    }
    /* ? SECTION | SOCIAL MEDIA */
    .grid-section section:nth-of-type(2){
        display: flex;
        justify-content: space-between;
        grid-column-start:2;
        grid-column-end: 3;
    }
    /* ? SECTION | EXPERIENCE */
    .grid-section section:nth-of-type(3) {
        grid-row-start:3;
        grid-row-end:4;
        grid-column-start:1;
        grid-column-end:3;
    }
}