/* ? MAIN CONTAINER */
.main-cont {
    display: flex;
    gap: var(--spacing-sm);
}
span {
    border: .1125rem solid var(--color-bg-quaternary);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius-rounded);
}