/* 
    Only the global classes can have _
    Example txt_primary
*/
@import './assets/styles/variables.css';
/* ! Reset and Set Global properties */
body::-webkit-scrollbar {
    width: 0;
}
/* * Default & Reset properties */
body {
    /* min-height: 100vh; */
    background-color: var(--color-bg-primary);
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--font-b1);
    text-decoration: none;
    border: none;
    /* * Create transition bg-color when the theme change */
    transition: background-color var(--transition-time);
    transition: font-size var(--transition-time);
    line-height: 150%;
}
a {
    text-decoration: none;
}
button {
    border: none;
}
ul {
    list-style-type: none;
}
::marker {
    color: transparent;
}
/* * RADIUS */
.radius_none {
    border-radius: 0;
}
.radius_minimal {
    border-radius: var(--radius-minimal);
}
.radius_rounded {
    border-radius: var(--radius-rounded);
}
.radius_full {
    border-radius: var(--radius-full);
}
/* ? HELPERS */
/* * Screen width */
.cursor_pointer {
    cursor: pointer;
}
.none {
    display: none;
}
.d_flex {
    display: flex;
}
.pointer_events_none {
    pointer-events: none;
}
/* ? FONTS */
/* * Font sizes */
/* Headlines */
.font_h1 {
    font-size: var(--font-h1);
}
.font_h2 {
    font-size: var(--font-h2);
}
.font_h3 {
    font-size: var(--font-h3);
}
.font_h4 {
    font-size: var(--font-h4);
}
.font_h5 {
    font-size: var(--font-h5);
}
.font_h6 {
    font-size: var(--font-h6);
}
/* Body */
.font_b1 {
    font-size: var(--font-b1);
}
.font_b2 {
    font-size: var(--font-b2);
}
/* Captions */
.font_c1 {
    font-size: var(--font-c1);
}
.font_c2 {
    font-size: var(--font-c2);
}
.font_c3 {
    font-size: var(--font-c3);
}
/* LABEL */
.font_label {
    font-size: var(--font-b1);
}
/* * Font Weight */
.font_regular {
    font-weight:400;
}
.font_medium {
    font-weight:500;
}
.font_semibold {
    font-weight:600;
}
.font_bold {
    font-weight:700;
}
/* * Font Colors */
.color_primary {
    color: var(--color-primary);
}
.color_secondary {
    color: var(--color-secondary);
}
.color_tertiary {
    color: var(--color-tertiary);
}
.color_quaternary {
    color: var(--color-quaternary);
}
.color_inverted {
    color: var(--color-inverted);
}
.color_brand_primary {
    color: var(--color-brand-primary);
}
.color_brand_secondary {
    color: var(--color-brand-secondary);
}
/* ? BACKGROUNDS */
/* * Color Background */
.bg_primary {
    color: var(--color-bg-primary);
}
.bg_secondary {
    color: var(--color-bg-secondary);
}
.bg_tertiary {
    color: var(--color-bg-tertiary);
}
/* * Icon Size */
.icon_xs {
    width: var(--icon-xs);
    height: var(--icon-xs);
}
.icon_sm {
    width: var(--icon-sm);
    height: var(--icon-sm);
}
.icon_md {
    width: var(--icon-md);
    height: var(--icon-md);
}
.icon_lg {
    width: var(--icon-lg);
    height: var(--icon-lg);
}
/* ? BUTTONS */
/* * BUTTON PRIMARY */
.btn_primary {
    cursor: pointer;
    background-color: var(--color-btn-bg-primary);
    color: var(--color-btn-color-primary);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius-full);
    font-size: var(--font-b2);
    font-weight: 400;
    white-space: nowrap;    
}
/* ! HOVER */
.btn_primary:hover {
    background-color: var(--color-btn-bg-primary-hover);
}
/* ! ACTIVE */
.btn_primary:active {
    background-color: var(--color-btn-bg-primary-active);
}

/* * BTN BRAND PRIMARY */
.btn_brand_primary {
    cursor: pointer;
    background-color: var(--color-brand-btn-bg-primary);
    color: var(--color-brand-btn-color-primary);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius-full);
    font-size: var(--font-b2);
    font-weight: 400;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}
/* ! HOVER */
.btn_brand_primary:hover {
    background-color: var(--color-brand-btn-bg-primary-hover);
}
/* ! ACTIVE */
.btn_brand_primary:active {
    background-color: var(--color-brand-btn-bg-primary-active);
}
/* * Responsive SM */
@media screen and (max-width:480px) {
    .font_h4 {
        font-size: var(--font-h5);
    }
    .font_b1 {
        font-size: var(--font-b2);
    }
    .font_b2 {
        font-size: var(--font-c1);
    }
}