/* 
    Only the global classes can have _
    Example txt_primary
*/
/* ! Reset and Set Global properties */
body::-webkit-scrollbar {
    width: 0;
}
/* * Default & Reset properties */
body {
    /* min-height: 100vh; */
    background-color: var(--color-bg-primary);
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--font-b1);
    text-decoration: none;
    border: none;
    /* * Create transition bg-color when the theme change */
    transition: background-color var(--transition-time);
    line-height: 150%;
}
p, a, li {
    transition: font-size var(--transition-time);
}
a {
    text-decoration: none;
}
button {
    border: none;
}
ul {
    list-style-type: none;
}
::marker {
    color: transparent;
}

/* ? HELPERS */
/* * Screen width */
.cursor--pointer {
    cursor: pointer;
}
.none {
    display: none;
}
.d--flex {
    display: flex;
}
.pointer-events--none {
    pointer-events: none;
}
/* ? FONTS */
/* * Font sizes */
/* Headlines */
.font__size--h1 {
    font-size: var(--font-h1);
}
.font__size--h2 {
    font-size: var(--font-h2);
}
.font__size--h3 {
    font-size: var(--font-h3);
}
.font__size--h4 {
    font-size: var(--font-h4);
}
.font__size--h5 {
    font-size: var(--font-h5);
}
.font__size--h6 {
    font-size: var(--font-h6);
}
/* Body */
.font__size--b1 {
    font-size: var(--font-b1);
}
.font__size--b2 {
    font-size: var(--font-b2);
}
/* Captions */
.font__size--c1 {
    font-size: var(--font-c1);
}
.font__size--c2 {
    font-size: var(--font-c2);
}
.font__size--c3 {
    font-size: var(--font-c3);
}
/* LABEL */
.font__size--label {
    font-size: var(--font-b2);
}
/* * Font Weight */
.font__weight--regular {
    font-weight:400;
}
.font__weight--medium {
    font-weight:500;
}
.font__weight--semibold {
    font-weight:600;
}
.font__weight--bold {
    font-weight:700;
}
/* * Font Colors */
.font__color--primary {
    color: var(--color-primary);
}
.font__color--secondary {
    color: var(--color-secondary);
}
.font__color--tertiary {
    color: var(--color-tertiary);
}
.font__color--quaternary {
    color: var(--color-quaternary);
}
.font__color--brand-primary {
    color: var(--color-brand-primary);
}
.font__color--brand-secondary {
    color: var(--color-brand-secondary);
}
/* ! MENU MOVILE */
.font__color--group-name {
    color: var(--color-group-name-txt);
}
.font__color--item {
    color: var(--color-item);
}
/* ? BACKGROUNDS */
/* * Color Background */
.bg_primary {
    color: var(--color-bg-primary);
}
.bg_secondary {
    color: var(--color-bg-secondary);
}
.bg_tertiary {
    color: var(--color-bg-tertiary);
}
/* * Icon Size */
.icon_xs {
    width: var(--icon-xs);
    height: var(--icon-xs);
}
.icon_sm {
    width: var(--icon-sm);
    height: var(--icon-sm);
}
.icon_md {
    width: var(--icon-md);
    height: var(--icon-md);
}
.icon_lg {
    width: var(--icon-lg);
    height: var(--icon-lg);
}
/* ? BUTTONS */
/* * BUTTON PRIMARY */
.btn_primary {
    cursor: pointer;
    background-color: var(--color-btn-bg-primary);
    color: var(--color-btn-color-primary);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius-full);
    font-size: var(--font-b2);
    font-weight: 400;
    white-space: nowrap;    
}
/* ! HOVER */
.btn_primary:hover {
    background-color: var(--color-btn-bg-primary-hover);
}
/* ! ACTIVE */
.btn_primary:active {
    background-color: var(--color-btn-bg-primary-active);
}

/* * BTN BRAND PRIMARY */
.btn_brand_primary {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--color-brand-btn-bg-primary);
    color: var(--color-brand-btn-color-primary);
    padding: var(--spacing-xs) var(--spacing-sm);
    border:.125rem solid var(--color-brand-btn-border-primary);
    border-radius: var(--radius-full);
    font-size: var(--font-b2);
    font-weight: 400;
    white-space: nowrap;
    gap: var(--spacing-xs);
}
/* ! HOVER */
.btn_brand_primary:hover {
    background-color: var(--color-brand-btn-bg-primary-hover);
    border:.125rem solid var(--color-brand-btn-border-primary-hover);
}
/* ! ACTIVE */
.btn_brand_primary:active {
    background-color: var(--color-brand-btn-bg-primary-active);
}

/* * BUTTON SECONDARY */
.btn_secondary {
    cursor: pointer;
    background-color: var(--color-btn-bg-primary);
    color: var(--color-btn-color-primary);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius-full);
    font-size: var(--font-b2);
    font-weight: 400;
    white-space: nowrap;    
}
/* ! HOVER */
.btn_secondary:hover {
    background-color: var(--color-btn-bg-primary-hover);
}
/* ! ACTIVE */
.btn_secondary:active {
    background-color: var(--color-btn-bg-primary-active);
}

/* * BTN BRAND PRIMARY */
.btn_brand_secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--color-brand-btn-bg-secondary);
    color: var(--color-brand-btn-color-secondary);
    padding: var(--spacing-xs) var(--spacing-sm);
    border:.125rem solid var(--color-brand-btn-border-secondary);
    border-radius: var(--radius-full);
    font-size: var(--font-b2);
    font-weight: 400;
    white-space: nowrap;
    gap: var(--spacing-xs);
}
/* ! HOVER */
.btn_brand_secondary:hover {
    background-color: var(--color-brand-btn-bg-secondary-hover);
}
/* ! ACTIVE */
.btn_brand_secondary:active {
    background-color: var(--color-brand-btn-bg-secondary-active);
}
/* * Responsive SM */
@media screen and (max-width:480px) {
    .font__size--h4 {
        font-size: var(--font-h5);
    }
    .font__size--b1 {
        font-size: var(--font-b2);
    }
    .font__size--b2 {
        font-size: var(--font-c1);
    }
}