@import './variables';
* {
    // !TODO:Add the prefix, example --fd-color__bg-primary ------------------------------------------
    .theme {
        // 
        // ?                            TOKENS 
        // 
        // * -------------------------- Primaries ------------------------------------------------------   
        --color-primary                                                             :#{$color__primary};
        --color-secondary                                                           :#{$color__secondary};
        --color-tertiary                                                            :#{$color__tertiary};
        --color-quaternary                                                          :#{$color__quaternary};
        // * -------------------------- Background Color -------------------------------------------------   
        --color-bg-primary                                                          :#{$color__bg-primary};
        --color-bg-secondary                                                        :#{$color__bg-secondary};
        --color-bg-tertiary                                                         :#{$color__bg-tertiary};
        --color-bg-quaternary                                                       :#{$color__bg-quaternary};
        // * -------------------------- Brand --------------------------------------------------------   
        --color-brand-primary                                                       :#{$brand-400};
        --color-brand-secondary                                                     :#{$brand-300};
        --color-brand-tertiary                                                      :#{$brand-500};
        // 
        // ?                            BUTTONS 
        // 
        // * -------------------------- Defaul btn settings -------------------------------   
        --fd-btn-font-size                                                          :#{$font-b1};
        --fd-btn-font-weight                                                        :var();
        --fd-btn-border-radius                                                      :var();
        --fd-btn-outline                                                            :none;
        
        --fd-btn-bg-color                                                           :var();
        --fd-btn-color                                                              :var();
        --fd-btn-border-color                                                       :var();
        
        --fd-btn-hover-bg-color                                                     :var();
        --fd-btn-hover-color                                                        :var();
        --fd-btn-hover-border-color                                                 :var();
        
        --fd-btn-active-bg-color                                                    :var();
        --fd-btn-active-color                                                       :var();
        --fd-btn-active-border-color                                                :var();
    
        --fd-btn-focus-box-shadow                                                   :var();
        //                                       
        // ?                            Font Colors 
        //  
        .font__color--primary {
            color: var(--color-primary);
        }
        .font__color--secondary {
            color: var(--color-secondary);
        }
        .font__color--tertiary {
            color: var(--color-tertiary);
        }
        .font__color--quaternary {
            color: var(--color-quaternary);
        }
        .font__color--brand-primary {
            color: var(--color-brand-primary);
        }
        .font__color--brand-secondary {
            color: var(--color-brand-secondary);
        }
        
        @mixin btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--spacing-2);
            border-radius:var(--radius-minimal);
            font-size: var(--fd-btn-font-size);
            font-weight:400;
            padding:var(--spacing-md);
            outline: none;
            cursor: pointer;
        }
        @mixin primary (
            $bg-color,
            $border-color,
            $outline,
        ){
            background-color:$bg-color;
            border: var(--border) solid $border-color;
            outline: $outline;
        }
        button {
            @include btn;
        }
        .btn--primary {
            @include primary(green, yellow, none);
        }
        &--dark {    
            // 
            // ?                            TOKENS 
            // 
            // * -------------------------- Primaries ------------------------------------------------------------   
            --color-primary                                                             :#{$color__primary--dark};
            --color-secondary                                                           :#{$color__secondary--dark};
            --color-tertiary                                                            :#{$color__tertiary--dark};
            --color-quaternary                                                          :#{$color__quaternary--dark};
            // * -------------------------- Background Color --------------------------------------------------------  
            --color-bg-primary                                                          :#{$color__bg-primary--dark};
            --color-bg-secondary                                                        :#{$color__bg-secondary--dark};
            --color-bg-tertiary                                                         :#{$color__bg-tertiary--dark};
            --color-bg-quaternary                                                       :#{$color__bg-quaternary--dark};
            // * -------------------------- Brand --------------------------------------------------------   
            --color-brand-primary                                                       :#{$brand-400};
            --color-brand-secondary                                                     :#{$brand-300};
            --color-brand-tertiary                                                      :#{$brand-500};

        }
    }
}