//  
//  ?                                   PRIMITIVES 
//  
// ?                                    Colors
//  
// * ---------------------------------- Grey ------------------------------------------
$grey-0                                                                     :#F9F9F9;
$grey-50                                                                    :#eeeeee;
$grey-100                                                                   :#DDDDDD;
$grey-200                                                                   :#C6C6C6;
$grey-300                                                                   :#AFAFAF;
$grey-400                                                                   :#7F7F7F;
$grey-500                                                                   :#4F4F4F;
$grey-600                                                                   :#212121;
$grey-700                                                                   :#151515;
// * ---------------------------------- Brand -----------------------------------------
$brand-50                                                                   :#52B69A;
$brand-100                                                                  :#34A0A4;
$brand-200                                                                  :#168AAD;
$brand-300                                                                  :#1A759F;
$brand-400                                                                  :#1E6091;
$brand-500                                                                  :#184E77;
// * ---------------------------------- Danger ----------------------------------------
$danger-100                                                                 :#B42318;
$danger-200                                                                 :#912018;
$danger-300                                                                 :#7A1A1A;
$danger-400                                                                 :#55160C;
// 
// ?                                    Sizes 
// 
// * ---------------------------------- Radius -------------------------------------
$radius-xs                                                                  :.25rem;
$radius-sm                                                                  :.5rem;
$radius-md                                                                  :1rem;
$radius-lg                                                                  :1.5rem;
$radius-xl                                                                  :2rem;
$radius-2xl                                                                 :8rem;
$radius-3xl                                                                 :22.5rem;
// * ---------------------------------- Spacing ------------------------------------
$spacing-1                                                                  :.25rem;
$spacing-2                                                                  :.5rem;
$spacing-3                                                                  :.75rem;
$spacing-4                                                                  :1rem;
$spacing-5                                                                  :1.5rem;
$spacing-6                                                                  :2rem;
$spacing-7                                                                  :2.5rem;
$spacing-8                                                                  :3rem;
$spacing-9                                                                  :3.5rem;
$spacing-10                                                                 :4rem;
$spacing-11                                                                 :4.5rem;
$spacing-12                                                                 :5rem;
$spacing-13                                                                 :5.5rem;
$spacing-14                                                                 :6rem;
$spacing-15                                                                 :6.5rem;
// * ---------------------------------- Icon --------------------------------------
$icon-1                                                                     :.75rem;
$icon-2                                                                     :.875rem;
$icon-3                                                                     :1.125rem;
$icon-4                                                                     :1.25rem;
$icon-5                                                                     :1.5rem;
// 
// ?                                    Fonts
// 
// * ---------------------------------- Font Family -----------------------------------------------------   
$primary-font                                                              :'Work Sans', sans-serif;
    // * ------------------------------ Headlines -----------------------------------   
$font-h1                                                                   :4em;
$font-h2                                                                   :3.75em;
$font-h3                                                                   :3em;
$font-h4                                                                   :2.125em;
$font-h5                                                                   :1.5em;
$font-h6                                                                   :1.3125em;
    // * ------------------------------ Body ----------------------------------------   
$font-b1                                                                   :1em;
$font-b2                                                                   :.875em;
    // * ------------------------------ Captions --------------------------------------   
$font-c1                                                                   :.75em;
$font-c2                                                                   :.625em;
$font-c3                                                                   :.5em;
// 
// ?                                    TOKENS
// 
// 
// ?                                    THEME LIGHT
// 
// * ---------------------------------- Color --------------------------------------------
$color__primary                                                             :#{$grey-600};
$color__secondary                                                           :#{$grey-200};
$color__tertiary                                                            :#{$grey-50};
$color__quaternary                                                          :#{$grey-500};
// * ---------------------------------- Background-color --------------------------------
$color__bg-primary                                                          :#{$grey-50};
$color__bg-secondary                                                        :#{$grey-0};
$color__bg-tertiary                                                         :#{$grey-600};
$color__bg-quaternary                                                       :#{$grey-500};
// * ---------------------------------- Brand ---------------------------------------------
$color__brand-primary                                                       :#{$brand-200};
$color__brand-secondary                                                     :#{$brand-100};
$color__brand-tertiary                                                      :#{$brand-400};
// * ---------------------------------- Helpers ------------------------------------------
$color__main-card                                                           :#{$grey-600};
$color__lang-selected-txt                                                   :#{$grey-50};
// * ---------------------------------- Movile Menu -------------------------------------
$color__bg-movile-menu                                                      :#{$grey-0};
$color__group-name-txt                                                      :#{$grey-600};
$color__item                                                                :#{$grey-500};
$color__item-active                                                         :#{$grey-50};
$color__item-active-txt                                                     :#{$brand-200};
$color__line-hierarchy                                                      :#{$grey-600};
// 
// ?                                    THEME DARK 
// 
// * ---------------------------------- Color -------------------------------------------
$color__primary--dark                                                       :#{$grey-50};
$color__secondary--dark                                                     :#{$grey-400};
$color__tertiary--dark                                                      :#{$grey-50};
$color__quaternary--dark                                                    :#{$grey-300};
// * ---------------------------------- Background-color ---------------------------------
$color__bg-primary--dark                                                    :#{$grey-600};
$color__bg-secondary--dark                                                  :#{$grey-700};
$color__bg-tertiary--dark                                                   :#{$grey-50};
$color__bg-quaternary--dark                                                 :#{$grey-500};
// * ---------------------------------- Brand ---------------------------------------------
$color__brand-primary--dark                                                 :#{$brand-400};
$color__brand-secondary--dark                                               :#{$brand-300};
$color__brand-tertiary--dark                                                :#{$brand-500};
// * ---------------------------------- Helpers ------------------------------------------
$color__main-card                                                           :#{$grey-600};
$color__lang-selected-txt                                                   :#{$grey-50};
// * ---------------------------------- Movile Menu -------------------------------------
$color__bg-movile-menu                                                      :#{$grey-0};
$color__group-name-txt                                                      :#{$grey-600};
$color__item                                                                :#{$grey-500};
$color__item-active                                                         :#{$grey-50};
$color__item-active-txt                                                     :#{$brand-200};
$color__line-hierarchy                                                      :#{$grey-600};
* {
    // 
    // ?                                TOKENS CSS 
    // 
    // * ------------------------------ Spacing ---------------------------------------------------   
    --spacing-2xs                                                                   :#{$spacing-1};
    --spacing-xs                                                                    :#{$spacing-2};
    --spacing-sm                                                                    :#{$spacing-4};
    --spacing-md                                                                    :#{$spacing-6};
    --spacing-lg                                                                    :#{$spacing-8};
    --spacing-xl                                                                    :#{$spacing-10};
    --spacing-2xl                                                                   :#{$spacing-15};
    --spacing-blocks                                                                :#{$spacing-5};
    // * ------------------------------ Radius ----------------------------------------------------   
    --radius-minimal                                                                :#{$radius-sm};
    --radius-rounded                                                                :#{$radius-md};
    --radius-full                                                                   :#{$radius-3xl};
    // * ------------------------------ Icon -------------------------------------------------------
    --icon-xs                                                                       :#{$icon-1};
    --icon-sm                                                                       :#{$icon-2};
    --icon-md                                                                       :#{$icon-4};
    --icon-lg                                                                       :#{$icon-5};
    // * ------------------------------ Border -------------------------------------------------   
    --border                                                                        :.0625rem;
    //  
    // ?                                Helpers
    //  
    --web-width                                                                     :82.45%;
    --web-max-width                                                                 :73.125rem;
    --sidebar-width                                                                 :16.75rem;
    // * ------------------------------ Transition -------------------------------------------   
    --transition-time                                                               :.2s ease-in-out;
}