//  
//  ?                                   PRIMITIVES 
//  
// ?                                    Colors
//  
// * ---------------------------------- Grey --------------------------------------
$grey-0                                                                 :#F9F9F9;
$grey-50                                                                :#eeeeee;
$grey-100                                                               :#DDDDDD;
$grey-200                                                               :#C6C6C6;
$grey-300                                                               :#AFAFAF;
$grey-400                                                               :#7F7F7F;
$grey-500                                                               :#4F4F4F;
$grey-550                                                               :#2b2b2b;
$grey-600                                                               :#212121;
$grey-700                                                               :#151515;
// * ---------------------------------- Brand -------------------------------------
$brand-50                                                               :#52B69A;
$brand-100                                                              :#34A0A4;
$brand-200                                                              :#168AAD;
$brand-300                                                              :#1A759F;
$brand-400                                                              :#1E6091;
$brand-500                                                              :#184E77;
// * ---------------------------------- Danger ------------------------------------
$danger-100                                                             :#F97066;
$danger-200                                                             :#F04438;
$danger-300                                                             :#D92D20;
$danger-400                                                             :#B42318;
// * ---------------------------------- Success ------------------------------------
$success-100                                                            :#079455;
$success-200                                                            :#067647;
$success-300                                                            :#085D3A;
$success-400                                                            :#074D31;
//  
// ?                            Numeric Values
// 
$auxunit-1                                                              :.0625rem;
$auxunit-2                                                              :.0781rem;
$auxunit-3                                                              :.0938rem;
$auxunit-4                                                              :.1094rem;
$auxunit-5                                                              :.125rem;
$baseunit-1                                                             :0;
$baseunit-2                                                             :.125rem;
$baseunit-3                                                             :.25rem;
$baseunit-4                                                             :.5rem;
$baseunit-5                                                             :.75rem;
$baseunit-6                                                             :1rem;
$baseunit-7                                                             :1.25rem;
$baseunit-8                                                             :1.5rem;
$baseunit-9                                                             :1.75rem;
$baseunit-10                                                            :2rem;
$baseunit-11                                                            :2.5rem;
$baseunit-12                                                            :2.75rem;
$baseunit-13                                                            :3rem;
$baseunit-14                                                            :3.5rem;
$baseunit-15                                                            :4rem;
$baseunit-16                                                            :4.5rem;
$baseunit-17                                                            :5rem;
$baseunit-18                                                            :5.5rem;
$baseunit-19                                                            :6rem;
$baseunit-20                                                            :6.5rem;
$baseunit-21                                                            :7.5rem;
$baseunit-22                                                            :10rem;