* {
    // 
    // ?                            Numeric Values
    // 
    // * -------------------------- Spacing -----------------------------------   
    --spacing-2xs                                               :#{$baseunit-3};
    --spacing-xs                                                :#{$baseunit-4};
    --spacing-sm                                                :#{$baseunit-6};
    --spacing-md                                                :#{$baseunit-10};
    --spacing-lg                                                :#{$baseunit-13};
    --spacing-xl                                                :#{$baseunit-15};
    --spacing-2xl                                               :#{$baseunit-20};
    --spacing-blocks                                            :#{$baseunit-8};
    // * -------------------------- Icon -----------------------------------   
    --icon-xs                                                   :#{$baseunit-5};
    --icon-sm                                                   :#{$baseunit-5};
    --icon-md                                                   :#{$baseunit-7};
    --icon-lg                                                   :#{$baseunit-8};
    // * -------------------------- Radius ------------------------------------   
    --radius-minimal                                            :#{$baseunit-4};
    --radius-rounded                                            :#{$baseunit-6};
    --radius-full                                               :#{$baseunit-22};
    // * -------------------------- Border --------------------------------- ---   
    --border-xs                                                 :#{$auxunit-1};
    --border-sm                                                 :#{$auxunit-2};
    --border-md                                                 :#{$auxunit-3};
    --border-lg                                                 :#{$auxunit-5};
}