:root {
    /* ? PRIMITIVES -------------------------------------------------------------------->*/ 
    /* ? Colors --------------> */
    /* * Grey */
    /* --grey-0                                                                    :#f8f9fa;
    --grey-50                                                                   :#e9ecef;
    --grey-100                                                                  :#dee2e6;
    --grey-200                                                                  :#ced4da;
    --grey-300                                                                  :#adb5bd;
    --grey-400                                                                  :#6c757d;
    --grey-500                                                                  :#495057;
    --grey-600                                                                  :#343a40;
    --grey-700                                                                  :#212529;
    --grey-700                                                                  :#212529; */
    --grey-0                                                                    :#F9F9F9;
    --grey-50                                                                   :#F2F2F2;
    --grey-100                                                                  :#DDDDDD;
    --grey-200                                                                  :#C6C6C6;
    --grey-300                                                                  :#AFAFAF;
    --grey-400                                                                  :#7F7F7F;
    --grey-500                                                                  :#4F4F4F;
    --grey-600                                                                  :#212121;
    --grey-700                                                                  :#151515;
    /* * Brand */
    
    --brand-50                                                                  :#52B69A;
    --brand-100                                                                 :#34A0A4;
    --brand-200                                                                 :#168AAD;
    --brand-300                                                                 :#1A759F;
    --brand-400                                                                 :#1E6091;
    --brand-500                                                                 :#184E77;
    /* ? Sizes --------------> */
    /* * Radius */
    --radius-xs                                                                 :.25rem;
    --radius-sm                                                                 :.5rem;
    --radius-md                                                                 :1rem;
    --radius-lg                                                                 :1.5rem;
    --radius-xl                                                                 :2rem;
    --radius-2xl                                                                :8rem;
    --radius-3xl                                                                :22.5rem;
    /* * Spacing */
    --spacing-1                                                                 :.25rem;
    --spacing-2                                                                 :.5rem;
    --spacing-3                                                                 :.75rem;
    --spacing-4                                                                 :1rem;
    --spacing-5                                                                 :1.5rem;
    --spacing-6                                                                 :2rem;
    --spacing-7                                                                 :2.5rem;
    --spacing-8                                                                 :3rem;
    --spacing-9                                                                 :3.5rem;
    --spacing-10                                                                :4rem;
    --spacing-11                                                                :4.5rem;
    --spacing-12                                                                :5rem;
    --spacing-13                                                                :5.5rem;
    --spacing-14                                                                :6rem;
    --spacing-15                                                                :6.5rem;
    /* * Icons */
    --icon-1                                                                    :.75rem;
    --icon-2                                                                    :.875rem;
    --icon-3                                                                    :1.125rem;
    --icon-4                                                                    :1.25rem;
    --icon-5                                                                    :1.5rem;

    /* ? TOKENS -------------------------------------------------------------------->*/ 
    /* ? Colors --------------> */
    /* * Primary */
    --color-primary                                                             :var(--grey-600);
    --color-secondary                                                           :var(--grey-200);
    --color-tertiary                                                            :var(--grey-50);
    --color-quaternary                                                          :var(--grey-500);
    --color-inverted                                                            :var(--grey-0);
    --color-inverted-50                                                         :var(--grey-50);
    --color-inverted-100                                                        :var(--grey-100);
    
    /* * Background */
    --color-bg-primary                                                          :var(--grey-50);
    --color-bg-secondary                                                        :var(--grey-0);
    --color-bg-tertiary                                                         :var(--grey-600);
    --color-bg-quaternary                                                       :var(--grey-500);

    /* * Brand */
    --color-brand-primary                                                       :var(--brand-200);
    --color-brand-secondary                                                     :var(--brand-100);
    --color-brand-tertiary                                                      :var(--brand-400);

    /* * Button Primary */
    --color-btn-bg-primary                                                      :var(--brand-400);
    --color-btn-color-primary                                                   :var(--brand-400);
    --color-btn-border-primary                                                  :var(--brand-400);
    /* ! Hover */
    --color-btn-bg-primary-hover                                                :var(--brand-400);
    /* ! Active */
    --color-btn-bg-primary-active                                               :var(--brand-400);

    /* * Button Brand Primary */
    --color-brand-btn-bg-primary                                                :var(--brand-400);
    --color-brand-btn-color-primary                                             :var(--grey-50);
    --color-brand-btn-border-primary                                            :var(--brand-400);
    /* ! Hover */
    --color-brand-btn-bg-primary-hover                                          :var(--brand-300);
    /* ! Active */
    --color-brand-btn-bg-primary-active                                         :var(--brand-500);

    /* * Helpers */
    --color-main-card                                                           :var(--grey-600);
    --color-lang-selected-txt                                                   :var(--grey-50);
    --color-border-left                                                         :var(--grey-0);
    --color-border-left-selected                                                :var(--grey-100);

    /* ? Size --------------> */
    /* * Spacing */
    --spacing-2xs                                                               :var(--spacing-1);
    --spacing-xs                                                                :var(--spacing-2);
    --spacing-sm                                                                :var(--spacing-4);
    --spacing-md                                                                :var(--spacing-6);
    --spacing-lg                                                                :var(--spacing-8);
    --spacing-xl                                                                :var(--spacing-10);
    --spacing-2xl                                                               :var(--spacing-15);
    --spacing-blocks                                                            :var(--spacing-5);
    
    /* * Radius */
    --radius-minimal                                                            :var(--radius-sm);
    --radius-rounded                                                            :var(--radius-md);
    --radius-full                                                               :var(--radius-3xl);

    /* * Icon */
    --icon-xs                                                                   :var(--icon-1);
    --icon-sm                                                                   :var(--icon-2);
    --icon-md                                                                   :var(--icon-4);
    --icon-lg                                                                   :var(--icon-5);

    /* ? FONTS -------------------------------------------------------------------->*/ 
    /* * Font Family */
    --primary-font                                                              :'Work Sans', sans-serif;

    /* * Headlines */
    --font-h1                                                                   :4em;
    --font-h2                                                                   :3.75em;
    --font-h3                                                                   :3em;
    --font-h4                                                                   :2.125em;
    --font-h5                                                                   :1.5em;
    --font-h6                                                                   :1.3125em;

    /* * Body */
    --font-b1                                                                   :1em;
    --font-b2                                                                   :.875em;

    /* * Captions */
    --font-c1                                                                   :.75em;
    --font-c2                                                                   :.625em;
    --font-c3                                                                   :.5em;

    /* ? Helpers -------------------------------------------------------------------->*/ 
    /* ? Size --------------> */
    /* * Spacing */
    --web-width                                                                 :82.45%;
    /* ? Transitios --------------> */
    --transition-time                                                           :.2s ease-in-out;
}

.dark-mode {
    /* ? TOKENS -------------------------------------------------------------------->*/ 
    /* ? Colors --------------> */
    /* * Primary */
    --color-primary                                                             :var(--grey-50);
    --color-secondary                                                           :var(--grey-400);
    --color-tertiary                                                            :var(--grey-50);
    --color-quaternary                                                          :var(--grey-300);
    --color-inverted                                                            :var(--grey-600);
    --color-inverted-50                                                         :var(--grey-50);
    --color-inverted-100                                                        :var(--grey-100);

    /* * Background */
    --color-bg-primary                                                          :var(--grey-600);
    --color-bg-secondary                                                        :var(--grey-700);
    --color-bg-tertiary                                                         :var(--grey-50);

    /* * Brand */
    --color-brand-primary                                                       :var(--brand-400);
    --color-brand-secondary                                                     :var(--brand-300);
    --color-brand-tertiary                                                      :var(--brand-600);

    /* * Button Primary */
    --color-btn-bg-primary                                                      :var(--brand-400);
    --color-btn-color-primary                                                   :var(--brand-400);
    --color-btn-border-primary                                                  :var(--brand-400);
    /* ! Hover */
    --color-btn-bg-primary-hover                                                :var(--brand-400);
    /* ! Active */
    --color-btn-bg-primary-active                                               :var(--brand-400);

    /* * Button Brand Primary */
    --color-brand-btn-bg-primary                                                :var(--brand-400);
    --color-brand-btn-color-primary                                             :var(--grey-50);
    --color-brand-btn-border-primary                                            :var(--brand-400);
    /* ! Hover */
    --color-brand-btn-bg-primary-hover                                          :var(--brand-300);
    /* ! Active */
    --color-brand-btn-bg-primary-active                                         :var(--brand-500);

    /* * Helpers */
    --color-main-card                                                           :var(--grey-700);
    --color-lang-selected-txt                                                   :var(--grey-600);

    /* ? Size --------------> */
    /* * Spacing */
    --spacing-2xs                                                               :var(--spacing-1);
    --spacing-xs                                                                :var(--spacing-2);
    --spacing-sm                                                                :var(--spacing-4);
    --spacing-md                                                                :var(--spacing-6);
    --spacing-lg                                                                :var(--spacing-8);
    --spacing-xl                                                                :var(--spacing-10);
    --spacing-2xl                                                               :var(--spacing-15);
    --gap-dashboard                                                             :var(--spacing-6);

    /* * Radius */
    --radius-minimal                                                            :var(--radius-sm);
    --radius-rounded                                                            :var(--radius-md);
    --radius-full                                                               :var(--radius-3xl);

    /* * Icon */
    --icon-xs                                                                   :var(--icon-1);
    --icon-sm                                                                   :var(--icon-2);
    --icon-md                                                                   :var(--icon-4);
    --icon-lg                                                                   :var(--icon-5);

    /* ? FONTS -------------------------------------------------------------------->*/ 
    /* * Font Family */
    --primary-font                                                              :'Work Sans', sans-serif;

    /* * Headlines */
    --font-h1                                                                   :4em;
    --font-h2                                                                   :3.75em;
    --font-h3                                                                   :3em;
    --font-h4                                                                   :2.125em;
    --font-h5                                                                   :1.5em;
    --font-h6                                                                   :1.3125em;

    /* * Body */
    --font-b1                                                                   :1em;
    --font-b2                                                                   :.875em;

    /* * Captions */
    --font-c1                                                                   :.75em;
    --font-c2                                                                   :.625em;
    --font-c3                                                                   :.5em;

    /* ? Helpers -------------------------------------------------------------------->*/ 
    /* ? Size --------------> */
    /* * Spacing */
    --web-width                                                                 :82.45%;

    /* ? Transitios --------------> */
    --transition-time                                                           :.2s ease-in-out;

}